/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
}

a{
  text-decoration:none;
  color:#fff;
}

body {
  font-family: Roboto-TC, sans-serif;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.name {
  font-size: 80px;
  padding-bottom: 17px;
  border-bottom: 1px solid #000;
  margin-top: 47px;
}

.photo {
  /* border:1px solid #000; */
  display: block;
  margin-top: 48px;
  margin-bottom: 48px;
}

.title {
  font-size: 32px;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 8px;
  border-bottom: 1px solid #000;
  margin-bottom: 16px;
}

.subtitle {
  color: #a00404;
  font-family: Roboto-TC, sans-serif;
  font-size: 24px;
  margin-left: 16px;
}

p {
  /* border:1px solid #000; */
  font-size: 24px;
  font-family: PingFang-TC-Light, sans-serif;
  line-height: 36px;
}

.p-01 {
  margin-bottom: 24px;
}

.p-02 {
  margin-bottom: 72px;
}

ul {
  font-size: 24px;
}

.edu-01 {
  margin-top: 16px;
  margin-bottom: 24px;
}

.edu-02 {
  margin-bottom: 72px;
}

.skill {
  background-color: #415165;
  padding-bottom: 52px;
  margin: 0 auto 72px auto;
}

.skill-text {
  border-bottom: 1px solid #fff;
  width: 996px;
  margin: 0 auto;
  text-align: center;
}

.skill-h2 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 8px;
  padding-top: 24px;
  font-family: PingFang-TC-light, sans-serif;
}

.skill-text span {
  font-size: 24px;
}

.skill-list {
  font-size: 24px;
  border-left: 1px solid #96a9c4;
  width: 216px;
  margin: 0 auto;
  margin-top: 24px;
  padding-left: 24px;
  line-height: 36px;
  color: #fff;
  font-family: "Roboto-TC", sans-serif;
}

.worklist {
  border-left: 1px solid #96a9c4;
  width: 642px;
  text-align: left;
  padding-left: 24px;
  margin-left: 24px;
  margin-bottom: 76px;
}

.worklist h3 {
  font-size: 24px;
  margin-bottom: 8px;
}

.worklist p {
  font-size: 20px;
}

.worklistTitle {
  margin-top: 32px;
}

.footer {
  background-color: #415165;
}

.contact_text {
  text-align: center;
  width: 1200px;
}
.contact-h2 {
  font-size: 32px;
  color: #fff;
  padding-top: 24px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}

.contact-01 span {
  font-size: 24px;
}

.contact-02 {
  margin-top: 16px;
}

.contact-02 li {
  padding-top: 16px;
  color: #fff;
  font-family: PingFang-TC-light, sans-serif;
}

.contact-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img li {
  padding-top: 20px;
  padding-bottom: 48px;
  padding-right: 24px;
}
